.register__noti__wrap {
    text-align: center;
    margin-top: 4rem;
    height: 40vh;
}
.register__noti__tittle {
    text-align: center;
    font-size: 2.8rem;
}
.register__noti__username {
    font-size: 2.8rem;
    font-weight: 500;
    color: var(--main-color);
}
.register__noti__btn {
    display: inline-block;
    margin-top: 1.5rem;
    border-radius: 50px;
    padding: 6px 14px;
    font-size: 1.6rem;
    color: aliceblue !important;
    background-color: var(--main-color);
    border: none;
}
.register__noti__btn:hover {
    cursor: pointer;
    opacity: 0.8;
}
